
@{
    ViewData["Title"] = "Fiction";
}

<head>
    <link rel="stylesheet" href="~/css/flipCards.css" />
</head>

    <body>

        <div class="col-sm-12 py-3" style="text-align: center">
            <h2>The list of Fiction books that are coming soon</h2>
        </div>

        <div class="row text-center">
            <div class="col-sm-6 col-xs-12 py-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Images/Fiction1.png" alt="Avatar" style="width:250px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1><br>The Glass Hotel</h1><br>
                            <h4>Author: Emily St. John Mandel</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12 py-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Images/Fiction2.png" alt="Avatar" style="width:250px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1><br>Deacon King Kong</h1><br>
                            <h4>Author: James McBride</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-6 col-xs-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Images/Fiction3.png" alt="Avatar" style="width:250px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1><br>Ember Queen</h1><br>
                            <h4>Author: Laura Sebastian</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Images/Fiction4.png" alt="Avatar" style="width:250px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1><br>The Red Lotus</h1><br>
                            <h4>Author: Chris Bohjalian</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 py-3" style="text-align: right">
            <h5>For further details please hover the mouse over a book</h5>
        </div>

    </body>

