
@{
    ViewData["Title"] = "Mistery";
}

<body>
    <div class="container-fluid d-flex h-100">
        <div class="white h-100 flex-fixed-width-item" style=" background-color: white;">
            <div class="col-sm-12 col-xs-12 py-4 text-center">
                <h2>Stay in Touch with the Latest Mystery Books Coming in 2020</h2>
            </div>

            <div class="col-sm-12 col-xs-12 py-4">
                <div class="linkicons">
                    <img class="mystery" border="0" src="~/Images/Mystery1.png" width="130" height="180">
                    <img class="mystery" border="0" src="~/Images/Mistery2.png" width="130" height="180">
                    <img class="mystery" border="0" src="~/Images/Mystery3.png" width="130" height="180">
                    <img class="mystery" border="0" src="~/Images/Mystery4.png" width="130" height="180">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12 py-3">
                    <h4 class="text-centered">Genre Description: </h4>
                    <p>The genre of mystery novels is a young form of literature that has developed since the early-19th century. The rise of literacy began in the years of the English Renaissance and, as people began to read over time, they became more individualistic in their thinking. As people became more individualistic in their thinking, they developed a respect for human reason and the ability to solve problems.</p>
                </div>

                <div class="col-sm-6 col-xs-12 py-3">
                    <h4 class="text-centered">Short History: </h4>
                    <p>Perhaps a reason that mystery fiction was unheard of before the 1800s was due in part to the lack of true police forces. Before the Industrial Revolution, many of the towns would have constables and a night watchman at best. Naturally, the constable would be aware of every individual in the town, and crimes were either solved quickly or left unsolved entirely. As people began to crowd into cities, police forces became institutionalized, and the need for detectives was realized – thus the mystery novel arose.</p>
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    .linkicons {
        margin-left: 175px;
        margin-top: 10px;
    }

    .mystery {
        margin-right: 80px;
        border-radius: 2vmin;
        transition: 0.5s ease;
    }

        .mystery:hover {
            height: 230px;
            width: 180px;
            transition: 0.5s;
        }
</style>

